<div id="<%= dom_id icone %>">
  <p>
    <strong>Title:</strong>
    <%= icone.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= icone.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= icone.image_url %>
  </p>

</div>
